<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="com-stionic-plugin" version="1.0.12">
    <name>Stionic Plugin</name>
    <description>Cordova Stionic Plugin</description>
    <platform name="android">
        <resource-file src="src/android/stionic_theme.xml" target="res/values/stionic_theme.xml" />
        <hook type="after_prepare" src="hooks/android_change_theme.js" />
        <hook type="after_prepare" src="hooks/android_notification_icons.js" />
        <framework src="src/android/android-jumbo.gradle" custom="true" type="gradleReference" />
    </platform>
</plugin>